body {
    background-size: auto;
    color: black;
    font-family: 'News Cycle', sans-serif;
}

header {
    background-color: limegreen;
    text-align: center;
    padding: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1 {
    font-weight: bold;
}


h4 {
    padding-top: .5rem;
    font-weight: bold;
    font-size: xx-large;
}

h5 {
    padding-top: .5rem;
    font-weight: bold;
    font-size: x-large;
}

.weather-img {
    min-height: 8rem;
}

.div-search {
    background-color: lightskyblue;
    min-height: 12rem;
    padding-bottom: .5rem;
}

.text-box {
    background-color: pink;
    height: 3rem;
    font-weight: bolder;
}

.btn-blue {
    background-color: #7a99c4;
    color: #0c3a79;
    margin-left: .5rem;
    height: 3rem;
}

.list-item {
    background-color: gray;
    color: #0c3a79;
    font-weight: bolder;
}

.search-card {
    background-color: lightgray;
    min-height: 12rem;
}

.div-today {
    background-color:springgreen;
    min-height: 12rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

.div-forecast {
    background-color: coral;
    min-height: 12rem;
    padding: .5rem;
}

.forecast-card {
    background-color: purple;
    width: 20rem;
    text-align: center;
}

.forecast-img {
    min-height: 5rem;
}

